@charset "UTF-8";
@import "fonts.css";
/* -- Basic Framework -- */
:root {
    --emp-blue: #0072ce;
    --emp-yellow: #f1b400;
    --emp-purple: #833177;
    --emp-red: #bf0d3e;
    --off-white: #f7f7f7;
    --pale-white: #efeae2;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: Effra;
    font-weight: 200;
    font-size: 16px;
    color: #4a4a4a;
    line-height: 2em;
}
a {
    text-decoration: none;
    color: #4a4a4a;
}
.gutter {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.row {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}
.pad-10 {
    padding: 10px;
}
.pad-20 {
    padding: 20px;
}
.pad-30 {
    padding: 30px;
}
.pad-40 {
    padding: 40px;
}
.pad-50 {
    padding: 50px;
}
.padh-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.padh-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.padh-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.padh-40 {
    padding-left: 40px;
    padding-right: 40px;
}
.padh-50 {
    padding-left: 50px;
    padding-right: 50px;
}
.padv-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padv-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.padv-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.padv-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.padv-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.jc-c {
    justify-content: center;
}
.jc-sb {
    justify-content: space-between;
}
.jc-sa {
    justify-content: space-around;
}
.jc-fe {
    justify-content: flex-end;
}
.ai-c {
    align-items: center;
}
h1 ,h2, h3, h4, h5, h6 {
    font-weight: 400;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.8em;
}
/* -- Header Styling -- */
header {
    position: sticky;
    background-color: #ffffff;
    top:0; 
    width: 100%;
    z-index: 10;
}
.logo-container {
    padding-top: 25px;
}
.topbar-links a {
    padding: 5px 15px;
    font-size: 1.06em;
    font-weight: 300;
}
.topbar-links a:last-of-type {
    padding-right: 0px;
    border-left: 1px solid var(--pale-white);
    color: var(--emp-blue);
}
.topbar-links span {
    color: var(--emp-blue);
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    display:none;
}
.hamb-line {
    background-color: var(--emp-blue);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}
.hamb-line::before,
.hamb-line::after{
    background-color: var(--emp-blue);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
.side-menu {
    display: none;
}
/* Toggle menu icon */
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* -- Navigation Styling -- */
nav {
    background-color: #ffffff;
}
nav ul {
    display: flex;
    background-color: #ffffff;
    list-style: none;
    margin: 0;
    padding-left: 0;
} 
nav li {
    color: #4a4a4a;
    background-color: #ffffff;
    display: block;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    border-bottom: 3px solid transparent;
}    
nav li a {
    color: #4a4a4a;
    font-weight: 300;
    font-size: 1.125em;
    
}
nav ul > li {
    margin-right: 2rem;
}
 
nav li:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--emp-blue);
}
  
nav ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 250px;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: calc(1rem + 3px);
    left: 0;
    display: none;
    box-shadow: 2px 5px 10px rgba(0,0,0,.30);
}  
nav ul li:hover > ul,
nav ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

nav ul li ul li {
    clear: both;
    width: 100%;
}
/* -- Mobile Nav -- */
.mobile-nav { 
    position: absolute;
    height: 0;
    background: #ffffff;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}
.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--emp-blue);
}
.mobile-nav ul li {
    width: 100%;
}
.mobile-nav ul li ul {
    width: 100%;
    background-color: rgba(0,0,0,.1);
}
.mobile-nav a {
    padding: 1.5em;
    display: inline-block;
    width: 100%;
    font-weight: 300;
    border-bottom: 2px solid rgba(0,0,0,.1);
}
.mobile-nav li a {
    color: #ffffff;
}
.mobile-nav .dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-nav .dropdown::after { 
    content: '';
    border-top: 7px solid #ffffff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent; 
}
.mobile-contact a {
    border-bottom: none;
    color: var(--emp-blue);
}
.mobile-contact {
    font-size: 1.25em;
    font-weight: 400; 
}
.mobile-contact p {
    padding: 1.5em;
    padding-bottom: 0;
}
[data-open-dropdown],[data-open-subdropdown] {
    cursor: pointer
}

[data-dropdown],[data-subdropdown] {
    overflow-y: hidden;
    max-height: 0;
    transition: all .5s ease
}

.dropdown-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 888
}

.submenu-open {
    max-height: 1500px;
    transition: all 2s ease
}
/* -- Hero Banner --*/
.hero {
    line-height: 3.125em;
    background-color: var(--pale-white);
}
.hero--image {
    display: inherit;
    max-width: 55%
}
.hero--image img {
    width: 100%;
}
.hero--info {
    max-width: 40%;
    color: #000000;
}
.hero--info h1 {
    color: var(--emp-blue);
    font-size: 3.125em;
    font-weight: 400;
    margin-bottom: 20px;
}
.hero--info p {
    font-weight: 300;
    font-size: 1.125em;
    line-height: 1.875em;
    
}
.hero--info p:first-of-type {
    margin-bottom: 25px;
}
.arrow-ending {
    position: relative;
}
.arrow-ending::after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 30%;
    left: 110%;
    border-left: 10px solid #000000;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.hero--info .arrow-ending::after {
    border-left-color: #4a4a4a;
}
/* -- Hero Search Bar -- */
.hero--search {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    font-size: 1.25em;
    font-weight: 300;
}
.search--filter {
    width: 85%
}
.search--filter select {
    margin: 0 10px;
    border-width: 0px;
    border-bottom: 2px solid var(--emp-blue);
    color: var(--emp-blue);
    font-size: 1em;
    padding: 10px 0;
}
.search--filter:focus, .search--filter select:focus {
    outline:none
}
.search--function {
    width: 15%;
    padding: 40px 0;
    text-align: center;
    background-color: var(--emp-yellow);
    color: #ffffff;
    cursor: pointer;
}
/* -- What we do cards -- */
.wwd-card {
    width: 30%;
    text-align: center;
    font-size: 1.125em;
    line-height: 1.56em;
}
.wwd-card img {
    width: 75px;
    margin-bottom: 20px;
}
.wwd-card h2 {
    font-weight: 300;
    margin-bottom: 20px;
}
.wwd-card p {
    margin-bottom: 20px;
}
.wwd-card a {
    color: var(--emp-yellow);
    font-weight: 300;
}
.wwd-card .arrow-ending:after {
    border-left-color: var(--emp-yellow);
}
/* -- About -- */
.about {
    background-color: var(--off-white);
}
.about--client div, .about--employsure div {
    width: 40%;
    padding: 10px;
}
.about--client img, .about--employsure img {
    width: 100%;
}
.about--client h2, .about--employsure h2 {
    color: var(--emp-blue);
    font-size: 2.6em;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.1em;
}
.about--client p, .about--employsure p {
    font-size: 1.125em;
    line-height: 2em;
    margin-bottom: 20px;
}
.about--client .arrow-ending, .about--employsure .arrow-ending, .about--client .arrow-ending::after, .about--employsure .arrow-ending::after, .news .arrow-ending, .news .arrow-ending::after, .footer .arrow-ending::after {
    color: var(--emp-yellow);
    border-left-color: var(--emp-yellow);
}
/* -- Review Section -- */
.review {
    background-color: var(--emp-purple);
    color: #ffffff;
}
.review--testimonial {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review--testimonial h2 {
    font-size: 2.25em;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5em;
}
.review--testimonial p {
    font-size: 1.125em;
    line-height: 2em;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    /*max-width: 200px;*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.review--video {
    width: 65%;
}
.review--video iframe {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
}
/* -- News Section -- */
.news h2 {
    color: var(--emp-blue);
    font-size: 2.25em;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5em;
    text-align: center;
    width: 100%;
}
.news--big {
    width: 66%;
    padding: 20px;
}
.news--sml {
    width: 33%;
    padding: 20px;
}
.news--image {
    display: block;
    aspect-ratio: 16/9;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.news--type {
    text-transform: uppercase;
    font-size: .8em;
    color: #777777;
    line-height: 1.5em;
    padding: 15px 0 5px;
}
.news--title {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 15px;
}
.news--blurb {
    margin-bottom: 15px;
    line-height: 1.5em;
}
/* -- Form Section -- */
.form {
    background-color: var(--pale-white);
}
.form--info, .form--inputs {
    width: 50%;
    padding: 25px;
}
.form--info h2 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: var(--emp-blue);
    margin-bottom: 1.125rem;
}
.form--info p {
    font-size: 1.125rem;
}
/* -- Marketo Form Styling -- */
.mktoForm {
    display: flex;
    flex-wrap: wrap;
    width: 100%!important;
}
.mktoForm .mktoLabel {
    display: none;
}
.mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email], .mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date], .mktoForm textarea.mktoField, .mktoForm select.mktoField {
    border: 0px;
    outline: 0px;
    background: transparent;
    border-bottom: 1px solid rgba(0,0,0,.3);
}
/* -- Footer Section -- */
.footer {
    justify-content: space-between;
}
.footer--logo-col {
    padding: 0 25px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer--menu-col {
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.footer .newspaper {
    display: flex;
    border: 1px solid var(--pale-white);
    align-items: center;
}
.footer .newspaper .icon-mail {
    background-color: var(--emp-yellow);
    color: #ffffff;
    padding: 10px 15px;
}
.footer .arrow-ending {
    padding-left: 15px;
    font-weight: 300;
}
.copyright {
    border-top: 1px solid var(--pale-white);
    padding: 25px 10px;
    justify-content: flex-end;
}
.copyright a {
    color: var(--emp-blue);
    font-size: 1.5rem;
    padding: 5px;
}

/* -- Media Queries -- */
/* -- Desktop / Large Screens -- */
@media only screen and (max-width: 1250px) { 
    .logo-container {
        padding-left: 25px;
    }
    .topbar-links {
        padding-right: 25px;
    }
}
/* -- Small Screens, Laptops -- */
@media only screen and (max-width: 1024px) { 
    nav ul > li {
        margin-right: 1rem;
    }
    .hero--info h1 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .hero--info p {
        font-size: 1em;
        line-height: 1.56em;
    }
    .hero--info p:first-of-type {
        margin-bottom: 15px;
    }
    .hero--search {
        font-size: 1em;
    }
    .search--filter select {
        font-size: 1em;
        margin: 0 5px;
        padding: 5px 0;
    }
    .about--client div, .about--employsure div {
        width: 45%;
    }
    .review {
        flex-direction: column-reverse;
    }
    .review--testimonial {
        width: 100%;
        padding: 12.5% 5%;
    }
    .review--video {
        width: 100%;
    }
}
/* -- iPads, Tablets -- */
@media only screen and (max-width: 768px) { 
    nav {
        display: none;
    }
    .topbar-links a {
        display:none;
    }
    .hamb {
        display: inline-block;
    }
    .open-menu {
        height: calc(100vh - 82px);
        opacity: 1;
        visibility: visible;
    }
    .hero {
        background-color: transparent;
    }
    .hero--image {
        max-width: 100%;
        background-color: var(--pale-white);
        text-align:center;
        padding-left: 20px;
    }
    .hero--info {
        max-width: 100%;
        text-align: center;
        padding: 50px;
    }
    .hero--info h1 {
        font-size: 3.125em;
        margin-bottom: 25px;
    }
    .hero--info p {
        font-size: 1.125em;
        line-height: 1.875em;   
    }
    .hero--info p:first-of-type {
        margin-bottom: 25px;
    }
    .hero--search {
        max-width: 75%;
        margin: 0 auto;
        flex-direction: column;
        font-size: 1.5em;
        padding: 30px 20px;
        box-shadow: 0 0 20px rgba(0,0,0,.2);
    }
    .search--filter {
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
    }
    .search--filter select {
        font-size: 1em;
        margin: 20px 0;
        padding: 20px;
        width: 100%;
        border: 1px solid var(--pale-white);
        text-align: center;
    }
    .search--function {
        width: 100%;
        padding: 15px;
        border-radius: 100px; 
    }
    .wwd-card {
        width: 75%;
    }
    .about--client div, .about--employsure div {
        width: 65%;
        text-align: center;
    }
    .about--employsure {
        flex-direction: column-reverse;
    }
    .news--big, .news--sml {
        width: 75%;
    }
    .form--info, .form--input {
        width: 100%;
    }
    .footer--logo-col {
        width: 100%;
    }
    .footer--menu-col {
        width: 45%;
    }
}

@media only screen and (max-width: 480px) { 
    .search--filter, .search--filter select {
        font-size: .75em;
    }
    .search--filter select {
        padding: 10px;
    }

}
